<div class="user-details">
  <h1> Proyectos personales </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="phishboom" src="{{ "/assets/img/phishboom.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Phishboom </h3>
    <ul>
      <li> Phising </li>
      <li> Python </li>
      <li> Hacking </li>
    </ul>
    <p>Herramienta automatizada para enviar correos con phising.</p>
    <a class="project-link" href="https://github.com/sergioab7/phishboom">¡Pruébalo!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="gusanator" src="{{ "/assets/img/gusanator.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Gusanator </h3>
    <ul>
      <li> Malware </li>
      <li> Python </li>
      <li> Hacking </li>
    </ul>
    <p>Script que emula a un malware gusano.</p>
    <a class="project-link" href="https://github.com/sergioab7/Gusanator">¡Pruébalo!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="boxthehack" src="{{ "/assets/img/boxthehack.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BoxTheHack </h3>
    <ul>
      <li> Tools HackTheBox </li>
      <li> Python </li>
    </ul>
    <p>Hackthebox tool para automatizar procesos desde la terminal.</p>
    <a class="project-link" href="https://github.com/sergioab7/boxthehack">¡Pruébalo!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="magicshell" src="{{ "/assets/img/magicshell.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MagicShell </h3>
    <ul>
      <li> Reverse Shells </li>
      <li> Python </li>
      <li> Remote Code Execution (RCE) </li>
      <li> CTF </li>
    </ul>
    <p>Script that allows you to get your reverse quickly.</p>
    <a class="project-link" href="https://github.com/sergioab7/Gusanator">¡Pruébalo!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="hackweb" src="{{ "/assets/img/hackweb.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HackWeb </h3>
    <ul>
      <li> Ciberseguridad </li>
      <li> Python </li>
      <li> DNS </li>
    </ul>
    <p>Herramienta para el reconocimiento básico de una página web.</p>
    <a class="project-link" href="https://github.com/sergioab7/HackWeb">¡Pruébalo!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="shodus" src="{{ "/assets/img/shodus.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shodus </h3>
    <ul>
      <li> Shodan Tools </li>
      <li> Python </li>
      <li> Hacking </li>
    </ul>
    <p>Script para automatización de búsqueda en shodan</p>
    <a class="project-link" href="https://github.com/sergioab7/shodus">¡Pruébalo!</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="gittrack" src="{{ "/assets/img/gittrack.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GitTrack </h3>
    <ul>
      <li> Escaneo perfiles github </li>
      <li> Python </li>
    </ul>
    <p>Get public information from users on github</p>
    <a class="project-link" href="https://github.com/sergioab7/gitTrack">¡Pruébalo!</a>
  </div>
</div>

